db-dtypes==1.4.3 ; python_version >= "3.13" and python_version < "3.15"
google-cloud-bigquery==3.38.0 ; python_version >= "3.13" and python_version < "3.15"
ipykernel==6.31.0 ; python_version >= "3.13" and python_version < "3.15"
matplotlib-inline==0.2.1 ; python_version >= "3.13" and python_version < "3.15"
matplotlib==3.10.7 ; python_version >= "3.13" and python_version < "3.15"
numpy==2.3.4 ; python_version >= "3.13" and python_version < "3.15"
pandas==2.3.3 ; python_version >= "3.13" and python_version < "3.15"
torch-model-archiver==0.12.0 ; python_version >= "3.13" and python_version < "3.15"
torch==2.9.0 ; python_version >= "3.13" and python_version < "3.15"
torchvision==0.24.0 ; python_version >= "3.13" and python_version < "3.15"
