absl-py==2.3.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.6
aiosignal==1.3.2
alembic==1.16.1
annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
astunparse==1.6.3
atpublic==5.1
attrs==25.3.0
bigframes==2.4.0
bigquery-magics==0.10.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
databricks-sdk==0.55.0
db-dtypes==1.4.3
debugpy==1.8.14
decorator==5.2.1
Deprecated==1.2.18
docker==7.1.0
docstring_parser==0.16
executing==2.2.0
fastapi==0.115.12
Flask==3.1.1
flatbuffers==25.2.10
fonttools==4.58.1
frozenlist==1.6.0
fsspec==2025.5.1
gast==0.6.0
gcsfs==2025.5.1
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.25.0rc1
google-auth==2.40.2
google-auth-oauthlib==1.2.2
google-cloud-aiplatform==1.95.1
google-cloud-artifact-registry==1.16.0
google-cloud-bigquery==3.34.0
google-cloud-bigquery-connection==1.18.2
google-cloud-bigquery-datatransfer==3.19.1
google-cloud-bigquery-storage==2.32.0
google-cloud-build==3.31.1
google-cloud-core==2.4.3
google-cloud-functions==1.20.3
google-cloud-iam==2.19.0
google-cloud-pipeline-components==2.20.0
google-cloud-pubsub==2.29.0
google-cloud-resource-manager==1.14.2
google-cloud-run==0.10.18
google-cloud-secret-manager==2.23.3
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.18.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.2
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.62.3
gunicorn==23.0.0
h11==0.16.0
h5py==3.13.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.12.3
idna==3.10
importlib_metadata==8.6.1
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
keras==3.10.0
kfp==2.13.0
kfp-pipeline-spec==0.6.0
kfp-server-api==2.4.0
kiwisolver==1.4.8
kubernetes==30.1.0
libclang==18.1.1
llvmlite==0.44.0
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
mlflow==2.22.0
mlflow-skinny==2.22.0
multidict==6.4.4
namex==0.1.0
nest-asyncio==1.6.0
numba==0.61.2
numpy==2.1.3
nvidia-nccl-cu12==2.26.5
oauthlib==3.2.2
opentelemetry-api==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
opt_einsum==3.4.0
optree==0.16.0
packaging==24.2
pandas==2.2.3
pandas-gbq==0.29.0
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.8
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==4.25.8
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.5
pydantic_core==2.33.2
pydata-google-auth==1.9.1
Pygments==2.19.1
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.15.3
setuptools==80.9.0
shap==0.47.2
shapely==2.1.1
six==1.17.0
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.41
sqlglot==26.24.0
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.46.2
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-metadata==1.17.1
termcolor==3.1.0
threadpoolctl==3.6.0
toolz==1.0.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.2
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.2
xgboost==3.0.2
yarl==1.20.0
zipp==3.22.0
