absolufy-imports==0.3.1 ; python_version >= "3.13" and python_version < "4.0"
aiohappyeyeballs==2.6.1 ; python_version >= "3.13" and python_version < "4.0"
aiohttp==3.13.0 ; python_version >= "3.13" and python_version < "4.0"
aiosignal==1.4.0 ; python_version >= "3.13" and python_version < "4.0"
alembic==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.13" and python_version < "4.0"
anyio==4.11.0 ; python_version >= "3.13" and python_version < "4.0"
appnope==0.1.4 ; python_version >= "3.13" and python_version < "4.0" and platform_system == "Darwin"
asttokens==3.0.0 ; python_version >= "3.13" and python_version < "4.0"
attrs==25.4.0 ; python_version >= "3.13" and python_version < "4.0"
authlib==1.6.5 ; python_version >= "3.13" and python_version < "4.0"
cachetools==6.2.1 ; python_version >= "3.13" and python_version < "4.0"
certifi==2025.10.5 ; python_version >= "3.13" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.13" and python_version < "4.0" and (platform_python_implementation != "PyPy" or implementation_name == "pypy")
charset-normalizer==3.4.4 ; python_version >= "3.13" and python_version < "4.0"
click==8.3.0 ; python_version >= "3.13" and python_version < "4.0"
cloudpickle==3.1.1 ; python_version >= "3.13" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.13" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.3 ; python_version >= "3.13" and python_version < "4.0"
cryptography==46.0.3 ; python_version >= "3.13" and python_version < "4.0"
db-dtypes==1.4.3 ; python_version >= "3.13" and python_version < "4.0"
debugpy==1.8.17 ; python_version >= "3.13" and python_version < "4.0"
decorator==5.2.1 ; python_version >= "3.13" and python_version < "4.0"
deprecated==1.2.18 ; python_version >= "3.13" and python_version < "4.0"
docstring-parser==0.17.0 ; python_version >= "3.13" and python_version < "4.0"
executing==2.2.1 ; python_version >= "3.13" and python_version < "4.0"
fastapi==0.119.0 ; python_version >= "3.13" and python_version < "4.0"
frozenlist==1.8.0 ; python_version >= "3.13" and python_version < "4.0"
google-adk==1.16.0 ; python_version >= "3.13" and python_version < "4.0"
google-api-core==2.26.0 ; python_version >= "3.13" and python_version < "4.0"
google-api-python-client==2.184.0 ; python_version >= "3.13" and python_version < "4.0"
google-auth-httplib2==0.2.0 ; python_version >= "3.13" and python_version < "4.0"
google-auth==2.41.1 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-aiplatform==1.121.0 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-appengine-logging==1.6.2 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-audit-log==0.3.3 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-bigquery==3.38.0 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-bigtable==2.33.0 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-core==2.4.3 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-discoveryengine==0.13.12 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-logging==3.12.1 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-monitoring==2.28.0 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-resource-manager==1.14.2 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-secret-manager==2.25.0 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-spanner==3.58.0 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-speech==2.33.0 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-storage==2.19.0 ; python_version >= "3.13" and python_version < "4.0"
google-cloud-trace==1.16.2 ; python_version >= "3.13" and python_version < "4.0"
google-crc32c==1.7.1 ; python_version >= "3.13" and python_version < "4.0"
google-genai==1.45.0 ; python_version >= "3.13" and python_version < "4.0"
google-resumable-media==2.7.2 ; python_version >= "3.13" and python_version < "4.0"
googleapis-common-protos==1.70.0 ; python_version >= "3.13" and python_version < "4.0"
graphviz==0.21 ; python_version >= "3.13" and python_version < "4.0"
greenlet==3.2.4 ; python_version >= "3.13" and python_version < "4.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpc-google-iam-v1==0.14.3 ; python_version >= "3.13" and python_version < "4.0"
grpc-interceptor==0.15.4 ; python_version >= "3.13" and python_version < "4.0"
grpcio-status==1.75.1 ; python_version >= "3.13" and python_version < "4.0"
grpcio==1.75.1 ; python_version >= "3.13" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.13" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.13" and python_version < "4.0"
httplib2==0.31.0 ; python_version >= "3.13" and python_version < "4.0"
httpx-sse==0.4.3 ; python_version >= "3.13" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.13" and python_version < "4.0"
idna==3.11 ; python_version >= "3.13" and python_version < "4.0"
importlib-metadata==8.7.0 ; python_version >= "3.13" and python_version < "4.0"
ipykernel==7.0.1 ; python_version >= "3.13" and python_version < "4.0"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.13" and python_version < "4.0"
ipython==9.6.0 ; python_version >= "3.13" and python_version < "4.0"
jedi==0.19.2 ; python_version >= "3.13" and python_version < "4.0"
jsonschema-specifications==2025.9.1 ; python_version >= "3.13" and python_version < "4.0"
jsonschema==4.25.1 ; python_version >= "3.13" and python_version < "4.0"
jupyter-client==8.6.3 ; python_version >= "3.13" and python_version < "4.0"
jupyter-core==5.9.0 ; python_version >= "3.13" and python_version < "4.0"
mako==1.3.10 ; python_version >= "3.13" and python_version < "4.0"
markupsafe==3.0.3 ; python_version >= "3.13" and python_version < "4.0"
matplotlib-inline==0.1.7 ; python_version >= "3.13" and python_version < "4.0"
mcp==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
multidict==6.7.0 ; python_version >= "3.13" and python_version < "4.0"
narwhals==2.8.0 ; python_version >= "3.13" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.13" and python_version < "4.0"
numpy==2.3.4 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-api==1.37.0 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-exporter-gcp-logging==1.10.0a0 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-exporter-gcp-monitoring==1.10.0a0 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-exporter-gcp-trace==1.10.0 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-common==1.37.0 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-http==1.37.0 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-proto==1.37.0 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-resourcedetector-gcp==1.10.0a0 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-sdk==1.37.0 ; python_version >= "3.13" and python_version < "4.0"
opentelemetry-semantic-conventions==0.58b0 ; python_version >= "3.13" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.13" and python_version < "4.0"
pandas==2.3.3 ; python_version >= "3.13" and python_version < "4.0"
parso==0.8.5 ; python_version >= "3.13" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.13" and python_version < "4.0" and sys_platform != "win32" and sys_platform != "emscripten"
platformdirs==4.5.0 ; python_version >= "3.13" and python_version < "4.0"
plotly==6.3.1 ; python_version >= "3.13" and python_version < "4.0"
prompt-toolkit==3.0.52 ; python_version >= "3.13" and python_version < "4.0"
propcache==0.4.1 ; python_version >= "3.13" and python_version < "4.0"
proto-plus==1.26.1 ; python_version >= "3.13" and python_version < "4.0"
protobuf==6.33.0 ; python_version >= "3.13" and python_version < "4.0"
psutil==6.1.1 ; python_version >= "3.13" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.13" and python_version < "4.0" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.13" and python_version < "4.0"
pyarrow==21.0.0 ; python_version >= "3.13" and python_version < "4.0"
pyasn1-modules==0.4.2 ; python_version >= "3.13" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.13" and python_version < "4.0"
pycparser==2.23 ; python_version >= "3.13" and python_version < "4.0" and (platform_python_implementation != "PyPy" or implementation_name == "pypy") and implementation_name != "PyPy"
pydantic-core==2.41.4 ; python_version >= "3.13" and python_version < "4.0"
pydantic-settings==2.11.0 ; python_version >= "3.13" and python_version < "4.0"
pydantic==2.12.2 ; python_version >= "3.13" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.13" and python_version < "4.0"
pyparsing==3.2.5 ; python_version >= "3.13" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "4.0"
python-dotenv==1.1.1 ; python_version >= "3.13" and python_version < "4.0"
python-multipart==0.0.20 ; python_version >= "3.13" and python_version < "4.0"
pytz==2025.2 ; python_version >= "3.13" and python_version < "4.0"
pywin32==311 ; python_version >= "3.13" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.3 ; python_version >= "3.13" and python_version < "4.0"
pyzmq==27.1.0 ; python_version >= "3.13" and python_version < "4.0"
referencing==0.37.0 ; python_version >= "3.13" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.13" and python_version < "4.0"
rpds-py==0.27.1 ; python_version >= "3.13" and python_version < "4.0"
rsa==4.9.1 ; python_version >= "3.13" and python_version < "4.0"
shapely==2.1.2 ; python_version >= "3.13" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.13" and python_version < "4.0"
sqlalchemy-spanner==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
sqlalchemy==2.0.44 ; python_version >= "3.13" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.13" and python_version < "4.0"
sse-starlette==3.0.2 ; python_version >= "3.13" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.13" and python_version < "4.0"
starlette==0.48.0 ; python_version >= "3.13" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.13" and python_version < "4.0"
tenacity==8.5.0 ; python_version >= "3.13" and python_version < "4.0"
toolbox-core==0.5.2 ; python_version >= "3.13" and python_version < "4.0"
tornado==6.5.2 ; python_version >= "3.13" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.13" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.13" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.13" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.13" and python_version < "4.0"
tzlocal==5.3.1 ; python_version >= "3.13" and python_version < "4.0"
uritemplate==4.2.0 ; python_version >= "3.13" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.13" and python_version < "4.0"
uvicorn==0.37.0 ; python_version >= "3.13" and python_version < "4.0"
watchdog==6.0.0 ; python_version >= "3.13" and python_version < "4.0"
wcwidth==0.2.14 ; python_version >= "3.13" and python_version < "4.0"
websockets==15.0.1 ; python_version >= "3.13" and python_version < "4.0"
wrapt==1.17.3 ; python_version >= "3.13" and python_version < "4.0"
yarl==1.22.0 ; python_version >= "3.13" and python_version < "4.0"
zipp==3.23.0 ; python_version >= "3.13" and python_version < "4.0"
